
<div class="row">
    <div class="col s12 m12 card-statistics">
        <div class="card white">
            <div class="card-content white-text">
                <div class="col s12 m3">
                    <img src="images/Untitled-1.svg" />
                </div>
                <div class="col s12 m3">
                    <img src="images/Untitled-1.svg" />
                </div>
                <div class="col s12 m3">
                    <img src="images/Untitled-1.svg" />
                </div>
                <div class="col s12 m3">
                    <img src="images/Untitled-1.svg" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m8 card-main-stat">
        <div class="card white">
            <div class="card-content">
                <img src="images/stat.svg" />
            </div>
        </div>
    </div>
    <div class="col s12 m4 some-cards">
        <div class="card first-card">
            <div class="card-image">
                <img src="images/background1.jpg">
                <span class="card-title">Updates</span>
            </div>
            <div class="card-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque purus tortor, efficitur vel enim eget, sodales varius dolor.</p>
            </div>
            <div class="card-action">
                <a class="waves-effect waves-light">Read More</a>
            </div>
        </div>
        <div class="card second-card">
            <div class="card-content white-text">
                <span class="card-title">View Options</span>
                <p>
                    <input type="checkbox" id="test1" />
                    <label for="test1">Click per object</label>
                </p>
                <p>
                    <input type="checkbox" id="test2" />
                    <label for="test2">Views per object</label>
                </p>
                <p>
                    <input type="checkbox" id="test3" />
                    <label for="test3">Objects selected</label>
                </p>
                <p>
                    <input type="checkbox" id="test4" />
                    <label for="test4">Objects viewed</label>
                </p>
            </div>
            <div class="card-action">
                <a href="#">Change Location</a>
            </div>
        </div>
    </div>
</div>
