<div class="container">
    <div class="row">
        <div class="col m4 s12 footer-about">
            <h5 class="white-text">Know more about us</h5>        
            <div class="section">
                <a class="waves-effect waves-light btn" ui-sref="about">Read More</a>
            </div>
            <div>
                <a class="waves-effect waves-light btn" ui-sref="helpdesk">Need help</a>
            </div>
        </div>
            <div class="col m4 s12 footer-contact-info">
            <h5 class="white-text">For more Information</h5>
            <ul class="grey-text text-lighten-3 list">
                <li>Address: <br/> <span>Lorem ipsum dolor sit amet.</span></li>
                <li>Email: <br/> <span>mail@example.com</span></li>
                <li>Phone: <br/> <span>09123456789</span></li>
            </ul>
        </div>
        <div class="col m4 s12">
            <h5 class="white-text">Socialize with Us</h5>
            <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
        </div>
        </div>
</div>
<div class="footer-copyright center">
    <div class="container">
        © 2015 All Rights Reserved.
    </div>
</div>
