<div id="index-banner" class="parallax-container valign-wrapper page">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dapibus massa in rutrum maximus. Mauris felis velit, bibendum at diam vel, volutpat semper elit.</h5>
            </div>
            <div class="row center">
                <a href="#/schedule" class="btn-large waves-effect waves-light ">Get Started</a>
            </div>
        </div>
    </div>
    <div class="parallax" id="homeBG" parallax="homeBG"><img src="images/banner.jpg" alt="Unsplashed background img 1"></div>
    <!-- <div class="parallax oceanic"></div> -->
</div>
<div class="about-section valign-wrapper page">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col s12 m6">
                    <img src="images/about-company.JPG" class="responsive-img" />
                </div>
                <div class="col s12 m6 valign">
                    <h5 class="header grey-text text-darken-2">About the company</h5>
                    <p class="grey-text text-darken-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque semper elementum massa. Aliquam cursus laoreet dolor, ac ullamcorper diam ullamcorper vestibulum. Etiam risus massa, dapibus a commodo pharetra, imperdiet sit amet metus. Sed finibus, dolor id consectetur porttitor, ante augue pharetra risus, vitae sodales ante enim at lacus. </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="news-section valign-wrapper page">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row main-slider">
                <div class="col s12">
                    <div class="slider news-slider" slider>
                        <ul class="slides">
                            <!-- <li ng-repeat="news in featuredNews">
                                <div class="caption left-align">                                    
                                    <div class="col s12 m4">
                                        <img ng-src={{news.img}} class="responsive-img" />
                                    </div>
                                    <div class="col s12 m8">
                                        <h5 class="header grey-text text-lighten-5">{{news.title}}</h5>
                                         <p class="grey-text text-lighten-4">{{news.desc}}</p>
                                    </div>
                                </div>
                            </li> -->
                            <li>
                                <div class="caption left-align">
                                    <div class="col s12 m4">
                                        <img src="images/schedule.jpg" class="responsive-img" />
                                    </div>
                                    <div class="col s12 m8">
                                        <h5 class="header grey-text text-lighten-5">Title of the News</h5>
                                        <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque semper elementum massa. Aliquam cursus laoreet dolor, ac ullamcorper diam ullamcorper vestibulum. Etiam risus massa, dapibus a commodo pharetra, imperdiet sit amet metus. </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="caption left-align">
                                    <div class="col s12 m4">
                                        <img src="images/schedule.jpg" class="responsive-img" />
                                    </div>
                                    <div class="col s12 m8">
                                        <h5 class="header grey-text text-lighten-5">Title of the News</h5>
                                        <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque semper elementum massa. Aliquam cursus laoreet dolor, ac ullamcorper diam ullamcorper vestibulum. Etiam risus massa, dapibus a commodo pharetra, imperdiet sit amet metus. </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="caption left-align">
                                    <div class="col s12 m4">
                                        <img src="images/schedule.jpg" class="responsive-img" />
                                    </div>
                                    <div class="col s12 m8">
                                        <h5 class="header grey-text text-lighten-5">Title of the News</h5>
                                        <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque semper elementum massa. Aliquam cursus laoreet dolor, ac ullamcorper diam ullamcorper vestibulum. Etiam risus massa, dapibus a commodo pharetra, imperdiet sit amet metus. </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="caption left-align">
                                    <div class="col s12 m4">
                                        <img src="images/schedule.jpg" class="responsive-img" />
                                    </div>
                                    <div class="col s12 m8">
                                        <h5 class="header grey-text text-lighten-5">Title of the News</h5>
                                        <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque semper elementum massa. Aliquam cursus laoreet dolor, ac ullamcorper diam ullamcorper vestibulum. Etiam risus massa, dapibus a commodo pharetra, imperdiet sit amet metus. </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="caption left-align">
                                    <div class="col s12 m4">
                                        <img src="images/schedule.jpg" class="responsive-img" />
                                    </div>
                                    <div class="col s12 m8">
                                        <h5 class="header grey-text text-lighten-5">Title of the News</h5>
                                        <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque semper elementum massa. Aliquam cursus laoreet dolor, ac ullamcorper diam ullamcorper vestibulum. Etiam risus massa, dapibus a commodo pharetra, imperdiet sit amet metus. </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m4">
                    <img src="images/weather/art_clear.png" class="responsive-img" />
                </div>
                <div class="col s12 m4 grey-text text-lighten-5">
                    <h1>34°</h1>
                    <p>
                        Precip: 0%
                        <br/> Humidity: 68
                        <br/> Wind: 11 Km/h
                    </p>
                </div>
            </div>
            <div class="row">
                <table class="centered responsive grey-text text-lighten-5">
                    <thead>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                        <th>Saturday</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <img src="images/weather/art_clouds.png" class="responsive-img" />
                            </td>
                            <td>
                                <img src="images/weather/art_fog.png" class="responsive-img" />
                            </td>
                            <td>
                                <img src="images/weather/art_light_clouds.png" class="responsive-img" />
                            </td>
                            <td>
                                <img src="images/weather/art_light_rain.png" class="responsive-img" />
                            </td>
                            <td>
                                <img src="images/weather/art_rain.png" class="responsive-img" />
                            </td>
                            <td>
                                <img src="images/weather/art_storm.png" class="responsive-img" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5>32°</h5>
                            </td>
                            <td>
                                <h5>32°</h5>
                            </td>
                            <td>
                                <h5>32°</h5>
                            </td>
                            <td>
                                <h5>32°</h5>
                            </td>
                            <td>
                                <h5>32°</h5>
                            </td>
                            <td>
                                <h5>32°</h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="service-section valign-wrapper page">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col s12 m6">
                    <img src="images/services-home.jpg" class="responsive-img" />
                </div>
                <div class="col s12 m6">
                    <p class="left-align grey-text text-darken-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. </p>
                    <a class="waves-effect waves-light btn">Go to services</a>
                </div>
            </div>
        </div>
    </div>
</div>
